body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2e2df;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  margin: 0;
  font-size: 28px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  background-color: #f9f9f9;
  padding: 20px;
}

h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.glasses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.glass {
  text-align: center;
}

.glass img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.glass h3 {
  margin: 0;
  font-size: 18px;
}
